# Python 관련
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
.venv/

# Jupyter Notebook 체크포인트
*.ipynb_checkpoints/

# 데이터 폴더 (CSV, API 다운로드 등)
01_data/
02_notebooks/output_data/
*.csv
*.zip

# PyCharm 설정
.idea/

# 기타
.DS_Store
*.log
